body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
}
main{
    background-color: hsl(217, 54%, 11%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}


